/*
Apply Flexbox or Grid for layout.
Make the page responsive.
Test across different screen sizes.
*/

h1 {
	color: #333;
	margin-bottom: 20px;
}

p {
	color: #666;
	margin-bottom: 20px;
}

ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

li {
	margin: 20px;
}
